.game-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 90%; 
    border: 1px solid #ddd; 
    border-radius: 40px; 
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    width: 70%; 
    animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(130px);
    }
}


.player-silhouette {
    width: 100%;
    height: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.player-silhouette-inner {
    width: 100%;
    height: 100%;
    background-image: url('/assets/imgs/Card1.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
}

