<div class="hero-section">
  <app-navbar></app-navbar>
    <div class="hero-overlay"></div>
    <div class="hero-text">
      <div class="hero-text-container">
        <h1>Benvenuto su FantaNet</h1>
        <p>FantaNet è il miglior posto per gli amanti del calcio per gestire la propria squadra virtuale e competere con altri giocatori.</p>
        <p>Inizia a creare la tua squadra e a selezionare i migliori giocatori per vincere il campionato!</p>
      </div>
    </div>
  </div>
  <div class="main">
  <app-main class="d-flex "></app-main>
  <app-footer></app-footer>
</div>
