<footer class="footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>FantaNet</h5>
          <p>Il miglior posto per gli amanti del calcio per gestire la propria squadra virtuale e competere con altri giocatori.</p>
        </div>
        <div class="col-md-4">
          <h5>Link Utili</h5>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/accedi">Accedi</a></li>
            <li><a routerLink="/registrati">Registrati</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contatti</h5>
          <ul>
            <li>Email: info@fantanet.com</li>
            <li>Telefono: +123 456 789</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2024 FantaNet. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>