.user-deck-container, .opponent-deck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
}

.user-info, .opponent-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.decks-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.user-deck, .opponent-deck {
  margin: 20px;
  padding: 20px;
  background: #ffffff;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.deck h3, .deck h2 {
  color: #333;
  text-align: center;
}

.deck-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.player-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f1f1;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s, background-color 0.3s;
}

.player-card:hover {
  transform: scale(1.02);
  background-color: #e0e0e0;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  color: black;
}

.player-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.player-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 5px;
}

.rating {
  font-size: 1em;
  color: #b60c03;
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.winner {
  margin-top: 20px;
  font-size: 1.5em;
  color: #28a745;
  text-align: center;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.midfielder {
  background-color: #f0e68c;
}

.defender {
  background-color: #98fb98;
}

.goalkeeper {
  background-color: #87cefa;
}

.attacker {
  background-color: #ffb6c1;
}

.midfielder .player-info, 
.defender .player-info, 
.goalkeeper .player-info, 
.attacker .player-info {
  text-align: center;
}
