body {
  background: #1e3959;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
}


.main-fader {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.loader {
  margin: 100% auto;
  margin-right:20px;
  svg {
    width: 80vw;
    max-width: 800px;
    display: block;
  }

  path {
    animation-duration: 0.3s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    color: #26a380;
  }

  .path-7 {
    animation-delay: -0.3s;
  }

  .path-6 {
    animation-delay: -0.2625s;
  }

  .path-5 {
    animation-delay: -0.225s;
  }

  .path-4 {
    animation-delay: -0.1875s;
  }

  .path-3 {
    animation-delay: -0.15s;
  }

  .path-2 {
    animation-delay: -0.1125s;
  }

  .path-1 {
    animation-delay: -0.075s;
  }

  .path-0 {
    animation-delay: -0.0375s;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}