body {
  background: linear-gradient(to bottom right, #412a49, #1f3a59, #1a315b, #ac5140, #6c272c);
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
 height: 110vh;
}